
body {
    background-color: black;
    color: white ;
    font-family: 'Courier ', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    
}


.titulo-principal {
    text-align: center;
    color: plum;
    border: solid #9e1793;
}